* {
margin: 0;
padding: 0;
}
.FirstSidebar, .Content, .SecondSidebar {
float:left;
}
.FirstSidebar {
background: yellow;
text-align: center;
width: 20%;
}
.Content {
background: green;
text-align: center;
width: 65%;
}
.SecondSidebar{
background: red;
text-align: center;
width: 15%;
}
.Header,.Footer {
text-align: center;
background: blue;
}